.clang-format
/assignments/PA3/grading
/assignments/PA3/grading/test-output
/assignments/PA4/grading
/assignments/PA4/grading/test-output
/assignments/PA2/grading
/assignments/PA2/grading/test-output
/assignments/PA5/grading
/assignments/PA5/grading/test-output